:root{
    --height-header : 50px;
    --color-black : #000;
    --color-white: #fff;
}

/* BREAK POINT */

/* PC */
@media (min-width: 64em){

}

/* Tablet + Mobile */
@media (max-width: 63.938em){
    #slider .text-slider{
        bottom: 20px;
    }

    #slider .text-show{
        font-weight: 500;
        font-size: 18px;
    }
    #slider .text-slogan{
        font-size: 12px;
        margin-top: 10px;
        text-shadow: 0 0 2px #000;
    }

    .contact-info{
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 15px 16px;
        font-size: 16px;
    }

    #footer .socials-list{
        font-size: 32px;
    }

    #footer .socials-list a{
        margin: 0 5px;
    }

    #footer .link-footer{
        padding: 12px 0;
        display: inline-block;
    }
}


/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.938em){
    #content .section{
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* Mobile */
@media (max-width: 46.188em) {
    .s-mt-8{
        margin-top: 8px !important;
    }

    .s-col-ful{
        width: 100%!important;
    }

    .place-img{
        height: auto;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn{
        display: none;
    }
    #header .mobile-menu-btn{
        float: right;
        padding: 0 30px;
        display: block;
    }

    #header .mobile-menu-btn:hover{
        background-color: #ccc;
        cursor: pointer;
    }

    #header .mobile-menu-btn:hover .menu-icon{
        color: var(--color-black);
    }

    #header .menu-icon{
        font-size: 22px;
        color: var(--color-white);
        line-height: 50px;
    }

    #nav {
        display: block;
    }
    
    #nav > li{
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }
    
    #nav > li:first-child{
        display: inline-block;
    }
    
    #nav .subnav{
        position: initial;
        background-color: darkgray;

    }

    #nav .subnav a{
        padding: 5px 42px;
    }

    .slider-img-animation{
        position: relative;
    }

    .btn-change{
        position: absolute;
        transform: translateY(-15em);
    }

    #content .section{
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    #content .member-img{
        width: 42%;
        height: auto;
    }

    #content .contact-form{
        margin-top: 32px;
    }

    .contact-content .contact-info{
        width: 100%;
    }

}